extends wordoutet

include ./blocks/product-list
include ./blocks/banner
include ./blocks/categories

block title
    title wordoutet

block content
        main.main
            //- Hero-section start
            section.hero-section
                .container-fluid
                    .row
                        .col-lg-6.hero-left
                            .tagline
                                p.wow.fadeInUp(data-wow-delay="0.7s") 
                                    | Useful tools to stimulate 
                                    br
                                    | planning, productivity and
                                    br
                                    | creativity.
                            .shipping
                                p.wow.fadeInUp(data-wow-delay="0.5s") Complimentary ground shipping on U. S. orders $30+
                        .col-lg-6.hero-right
                            .hero-image
                                img.img.wow.fadeInUp(data-wow-delay="0.3s" src="assets/img/hero.jpg" alt="book")
            //- Hero-section end

            //- product-section start
            +product-list
            //- product-section end

            //- banner-section start
            +banner
            //- banner-section end

            //- categories-section start
            +categories
            //- categories-section end
            br
            br
            br

