doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    block title
  body
    block content
  script(src="../../node_modules/wowjs/dist/wow.min.js")
  script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
