mixin header
    header.header
            nav.nav
                .menu-open
                    ion-icon(name="menu")
                .brand
                    span
                        a(href="index.html") wordoutlet
                .cart
                    ion-icon(name="cart")
                .menu
                    .menu-close
                        ion-icon(name="close")
                    ul
                        li
                            a(href="index.html") Home
                        li
                            a(href="shop.html") collection
                        li
                            a(href="product.html") Product                    
                        li
                            a(href="about.html") Our story
                        li
                            a(href="content.html") Contact
                    .media-menu
                        ul
                            li
                                ion-icon(name="logo-facebook")
                            li
                                ion-icon(name="logo-instagram")
                            li
                                ion-icon(name="logo-twitter")
                            li
                                ion-icon(name="logo-pinterest")