form label, textarea {
    font-family: "Larsseit";
    font-size: 12px;
    text-transform: none;
    letter-spacing: 2px;
}

.form-control {
    box-shadow: none;
}

form input, textarea {
    border-radius: 0% !important;
}

form input:focus, textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #000 !important;
}