.section {
    padding: 80px 40px; 
    p {
        font-family: 'PlayfairDisplay';
        font-size: 24px;
    }
}

.prod {
    margin-top: 20px;
    &:hover a {
        text-decoration: none !important;
    }

    &-section {
       width: 101.2%; 
       border-top: 1px solid rgba(0,0,0,0.1);
       border-bottom: 1px solid rgba(0,0,0,0.1);

       p {
           font-family: 'PlayfairDisplay';
           font-size: 18px;
           font-weight: 700;
       }
    }

    &-list #prod-desc {
        font-family: 'Larsseit';
        color: grey;
    }
}

#prod-desc {
    margin-top: 16px;
    font-size: 14px;
    font-weight: 800;
}

#price {
    font-family: 'Larsseit';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}


@media screen and (max-width: 900px) {
    .prod-section {
        padding-left: 30px;
        width: 100%;
        border: none;

        a {
            display: none;
        }
    }
}