@import 'assets/style_utils/vars';
@import 'assets/style_utils/normalize';
@import 'assets/style_utils/libs';
@import 'assets/fonts/font';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Larsseit';
    font-weight: 300;
}

@import 'assets/blocks/header.scss';
@import 'assets/blocks/hero-section.scss';
@import 'assets/blocks/section-prod.scss';
@import 'assets/blocks/footer.scss';